<footer class="flex justify-center gap-10 lg:gap-20 bg-black py-4">

    <div id="social">
        <a href="https://www.linkedin.com/in/raulfarce/" target="__BLANK" class="m-5">
            <i class="fa-brands fa-linkedin-in text-4xl"></i>
        </a>
        <a href="https://github.com/raulfarce01" target="__BLANK">
            <i class="fa-brands fa-github text-4xl"></i>
        </a>
    </div>

    <div id="me" class="flex justify-center items-center">
        <p>© Raúl Fernández Arce</p>
    </div>

</footer>