<nav class="bg-black min-h-min flex justify-between w-full">
    <a id="logo" class="flex m-3" routerLink="/">
        <img src="" alt="Logo">
    </a>
    <p class="flex justify-center items-center font-bold text-base cursor-default lg:text-2xl">My Portfolio</p>
    <div id="buttons" class="flex">
        <a class="hover:border-b-2 hover:border-white border-b-2 border-black text-sm lg:text-lg" routerLink="/about">
            <p id="about" class="flex justify-center items-center lg:m-3 mr-2 h-full">About</p>
        </a>
        <a class="hover:border-b-2 hover:border-white border-b-2 border-black lg:mr-6 text-sm lg:text-lg" routerLink="/contact">
            <p id="contact" class="flex justify-center items-center lg:m-3 mr-2 h-full">Contact</p>
        </a>
    </div>
</nav>