<nav class="bg-black min-h-min flex justify-between w-full">
    <a id="logo" class="lg:ml-4 flex justify-center items-center" routerLink="/">
        <img src="https://raulfarce01.github.io/portfolio/assets/logo/Logo_md.png" alt="Logo" class="w-9/12">
    </a>
    <p class="flex justify-center items-center font-bold text-sm cursor-default lg:text-2xl text-center mr-2 lg:mr-0">My Portfolio <br>Raúl Fdez Arce</p>
    <div id="buttons" class="flex lg:h-18">
        <a class="hover:border-b-2 hover:border-white border-b-2 border-black text-sm lg:text-lg" routerLink="/about">
            <p id="about" class="flex justify-center items-center lg:mx-3 mr-2 h-full lg:py-4 lg:h-24">About</p>
        </a>
        <a class="hover:border-b-2 hover:border-white border-b-2 border-black lg:mr-6 text-sm lg:text-lg" routerLink="/contact">
            <p id="contact" class="flex justify-center items-center lg:mx-3 mr-2 h-full lg:py-4 lg:h-24">Contact</p>
        </a>
    </div>
</nav>