<div id="body" class="flex justify-center items-center py-8 flex-col gap-12 min-h-screen">

    <div id="code" class="lg:text-9xl text-6xl font-bold">404<i class="fa-solid fa-face-sad-tear lg:text-9xl text-6xl lg:ml-8 ml-3"></i></div>

    <div id="message">
        <p class="lg:text-6xl text-4xl mx-20 text-center font-bold">It seems that the page you are looking for doesn't exist.</p>
    </div>

    <div id="backButton">
        <button (click)="goBack()" class="bg-white text-blue-950 font-bold text-2xl px-4 py-2 rounded">Go back</button>
    </div>

</div>