<div id="body" class="flex justify-center items-center py-8 flex-col gap-12 min-h-screen">

    <div id="code" class="text-9xl font-bold">404<i class="fa-solid fa-face-sad-tear text-8xl ml-8"></i></div>

    <div id="message">
        <p class="text-6xl mx-20 text-center font-bold">It seems that the page you are looking for doesn't exist.</p>
    </div>

    <div id="backButton">
        <button (click)="goBack()" class="bg-white text-blue-950 font-bold text-2xl px-4 py-2 rounded">Go back</button>
    </div>

</div>