<div class="flex flex-col justify-around items-center gap-6 p-4 lg:p-8">
    <h1 class="text-2xl lg:text-4xl font-bold">About me ;D</h1>

    <section class="about flex flex-col justify-around items-center">

        <div class="text-lg text-center">
            <p>
                If you want to check my Curriculum Vitae, click <a target="_blank" href="https://raulfarce01.github.io/portfolio/assets/CV/CV_EN_RaulFernandezArce_Fullstack_12-25.pdf" download="CV_Raul-Fernandez-Arce_Fullstack_03-06" class="underline text-teal-500 hover:text-white">here (English)</a>
            </p>

        </div>

        <div class="content flex flex-col lg:flex-row gap-4 lg:gap-6">
            <div class="justify-center items-center flex p-4 lg:p-12 rounded-full overflow-hidden mx-auto lg:mx-0" style="width: 250px; height: 250px; flex-shrink: 0;">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/me4.jpg" alt="My gorgeous face :v" style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
            </div>

            <div class="text-sm lg:text-xl flex flex-col justify-center px-2 lg:px-0">
                <p>Hi, I'm Raúl Fernández Arce. I was born the 13th july 2001 in Ceuta, Spain. I'm a web application
                    developer, but it wasn't my first idea as a child.</p>

                <p>I like to learn about new things, the more, the better, and when I was 7 years old, I wanted to
                    be a perfumer and a chemist. That was my idea for 8 years, also I studied french in my
                    Secondary school because after finishing the career
                    I was going to study a perfumist master degree.</p>
            </div>
        </div>

        <div class="content flex lg:flex-row-reverse flex-col gap-4 lg:gap-6">
            <div class="flex justify-center items-center p-2 lg:p-12 mx-auto lg:mx-0" style="flex-shrink: 0;">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/graduacion2.jpg" alt="My end of grade celebration" class="rounded-full" style="max-width: 250px; width: 100%; height: auto;">
            </div>

            <div class="text-sm lg:text-xl flex flex-col justify-center px-2 lg:px-0">
                <p>Despite that, in my bachelor studies, I decided to study science because I wanted to start a
                    TI career instead of chemistry one.</p>

                <p>Although I was thinking that that idea was the best for my vocation, when I was at the second of
                    three days doing the final exams, a friend told me about a superior degree about coding,
                    something I started to love in my 2<sub>nd</sub> grade of the bachelor studies, where my teacher
                    taught me about coding in C and C++</p>

                <p>Then, I decided to start the superior grade, something that was really criticised for my family.
                    At least, I kept strong at that idea and that year, in september 2019, the <b><i>Web Application
                            Development Superior Degree</i></b> started.</p>

                <p>My 1<sub>st</sub> year there was a little bit difficult because of the <i>Covid-19</i>, and in
                    2020-2021 course, I started again and decided to get the best grade and so, I started to study
                    really hard. At least I got my objective.</p>

                <p>My 2<sub>nd</sub> grade (2021-2022) was about a lot of design, PHP and JS projects (that last
                    module was like "learn by yourselves" because our teacher had no idea about coding with JS, or
                    maybe he only didn't know how to teach us).
                    I loved that and I kept with the best grades.</p>
            </div>

        </div>

        <div class="content flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-6">

            <div class="lg:pr-16 py-2 lg:py-6 flex justify-center" style="flex-shrink: 0;">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/tecnalis.png" alt="Tecnalis Logo" style="max-width: 200px; width: 100%; height: auto;">
            </div>

            <div class="text-sm lg:text-lg px-2 lg:px-0">
                <p>At march we started the <b><i>End of Grade</i></b> project until June, meanwhile, we started to
                    practice in a company (my practices were at <b>Tecnalis</b>). My practices started the 7
                    <sup>th</sup> march, and I finished the 8<sub>th</sub> june, when the <i>Human resources</i>
                    department told me to start working with a contract.</p>

                <p>Until January 2024, I worked as a Fullstack Developer at the <b>Delivery department</b>
                    installing and configuring casino games in those websites. I also fixed some client issues when a
                    game doesn't work, the money don't flow as it should or those kind of casino things.</p>
            </div>

        </div>

        <div class="content flex lg:flex-row-reverse flex-col mt-8 gap-4 lg:gap-6">
            <div class="flex justify-center items-center lg:pr-16 py-2 lg:py-6 mx-auto lg:mx-0" style="flex-shrink: 0;">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/logo_premiumpay.png" alt="Premiumpay logo" style="max-width: 300px; width: 100%; height: auto;">
            </div>

            <div class="text-sm lg:text-xl flex flex-col justify-center px-2 lg:px-0 lg:mr-12">
                <p>In October 2023, I decided to learn something about PHP frameworks because I was going to learn <b>Laravel</b> in March 2024 in my master's degree. Then, I started to watch some videos in youtube about how to make projects with <b>Symfony</b>, using blade templates, bootstrap and Doctrine.</p>

                <p>In November I finished my project called <b><i>Awazon</i></b>. It was an online shopping page that is used for selling some ECO products.</p>

                <p>Once I finished the project, the following week, a HR person from Betandeal contacted me via LinkedIn asking for a programmer that know how to work with Symfony.</p>

                <p>I stopped working at Tecnalis in January and, at the time I left, I started to work at <b>Betandeal</b> (in premiumpay project, a tipster based platform). It was a business with a boss who taught me a lot about coding. I learned  about how to make professional code thanks to my bosses.</p>

            </div>

        </div>

        <div class="content flex lg:flex-row flex-col mt-24">
            <div class="flex justify-center items-center lg:pr-16 py-6">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/logo_ingeso.jpg" alt="Ingeso logo">
            </div>

            <div class="text-xl flex flex-col justify-center">
                <p>In December 2025, I started working at Ingeso, specifically in the project "<b>Laboral Risk</b>". This is a web application that is used to manage the human resources needs in a company</p>

                <p>I stopped working at Betandeal in november and, at the time I left, I started to work at <b>Ingeso</b>. I found a business with good values and a boss who taught me a lot about coding. Now, I'm learning a lot about how to manage a big project with my mates and refactoring old code in a new way, trying to make code more easy to work on for future developers.</p>

                <p>Now, I'm working in <b>Ingeso</b>, a human resources management web application.</p>
            </div>

        </div>


    </section>

</div>
