<div class="flex flex-col justify-around items-center gap-6 p-8">
    <h1 class="text-4xl font-bold">About me ;D</h1>

    <section class="about flex flex-col justify-around items-center">

        <div class="text-lg text-center">
            <p>
                If you want to check my Curriculum Vitae, click <a href="https://raulfarce01.github.io/portfolio/assets/CV/Curriculum_Vitae_English.pdf" download="CV_Raul-Fernandez-Arce_Fullstack_26-10" class="underline text-teal-500 hover:text-white">here (English)</a>
            </p>
        </div>

        <div class="content flex flex-col lg:flex-row">
            <div class="justify-center items-center flex p-12">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/me3.jpg" alt="My gorgeous face :v" class="rounded-full">
            </div>

            <div class="text-xl flex flex-col justify-center">
                <p>Hi, I'm Raúl Fernández Arce. I was born the 13th july 2001 in Ceuta, Spain. I'm a web application
                    developer, but it wasn't my first idea as a child.</p>

                <p>I like to learn about new things, the more, the better, and when I was 7 years old, I wanted to
                    be a perfumer and a chemist. That was my idea for 8 years, also I studied french in my
                    Secondary school because after finishing the career
                    I was going to study a perfumist master degree.</p>
            </div>
        </div>

        <div class="content flex lg:flex-row-reverse flex-col">
            <div class="flex justify-center items-center p-12">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/graduacion2.jpg" alt="My end of grade celebration" class="rounded-full">
            </div>

            <div class="text-xl">
                <p>Despite ot that, in my bachelor studies, I decided to study science because I wanted to start a
                    TI career instead of chemistry one.</p>

                <p>Although I was thinking that that idea was the best for my vocation, when I was at the second of
                    three days doing the final exams, a friend told me about a superior degree about coding,
                    something I started to love in my 2<sub>nd</sub> grade of the bachelor studies, where my teacher
                    taught me about coding in C and C++</p>

                <p>Then, I decided to start the superior grade, something that was really criticised for my family.
                    At least, I kept strong at that idea and that year, in september 2019, the <b><i>Web Application
                            Development Superior Degree</i></b> started.</p>

                <p>My 1<sub>st</sub> year there was a little bit difficult because of the <i>Covid-19</i>, and in
                    2020-2021 course, I started again and decided to get the best grade and so, I started to study
                    really hard. At least I got my objective.</p>

                <p>My 2<sub>nd</sub> grade (2021-2022) was about a lot of design, PHP and JS projects (that last
                    module was like "learn by yourselves" because our teacher had no idea about coding with JS, or
                    maybe he only didn't know how to teach us).
                    I loved that and I kept with the best grades.</p>
            </div>

        </div>

        <div class="content flex flex-col lg:flex-row justify-center items-center">

            <div class="lg:pr-16 py-6">
                <img src="https://raulfarce01.github.io/portfolio/assets/me/tecnalis.png" alt="Tecnalis Logo">
            </div>

            <div class="text-lg">
                <p>At march we started the <b><i>End of Grade</i></b> project until June, meanwhile, we started to
                    practice in a comany (my practices were at <b>Tecnalis</b>). My practices started the 7
                    <sup>th</sup> march, and I finished the 8<sub>th</sub> june, when the <i>Human resources</i>
                    department told me to start working with a contract.</p>

                <p>Nowadays I'm still working there as a Fullstack Developer at the <b>Delivery department</b>
                    installing and configuring casino games in those websites. I also fix some clients issues when a
                    game doesn't work, the money don't flow as
                    it should or those kind of casino things.</p>
            </div>

        </div>


    </section>

</div>