<div id="main">

    <div id="title" class="flex flex-col justify-center items-center p-20">
        <h3 class="text-2xl mb-6">Portfolio</h3>
        <h1 class="text-7xl font-black mb-8">Raúl Fernández Arce</h1>
        <h3 class="text-3xl pb-20 text-center">PHP, MySQL, HTML, CSS, JS...</h3>
    </div>

    <div id="skills" class="bg-slate-50 text-blue-950 font-bold pb-10 flex flex-col">

        <h2 class="text-center py-8 text-4xl font-bold flex justify-center items-center">My Proffesional Skills</h2>

        <div id="container" class="flex flex-row lg:gap-x-40 lg:gap-y-14 gap-x-10 gap-y-6 flex-wrap justify-around items-center lg:px-60 px-10">
            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-code text-7xl"></i>
                </div>
                <div class="name text-3xl">HTML</div>
                <div class="stars text-2xl pt-2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-css3-alt text-7xl"></i>
                </div>
                <div class="name text-3xl">CSS</div>
                <div class="stars text-2xl pt-2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-square-js text-7xl"></i>
                </div>
                <div class="name text-3xl">JavaScript</div>
                <div class="stars text-2xl pt-2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-php text-7xl"></i>
                </div>
                <div class="name text-3xl">PHP</div>
                <div class="stars text-2xl pt-2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-database text-7xl"></i>
                </div>
                <div class="name text-3xl">MySQL</div>
                <div class="stars text-2xl pt-2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="projects" class="grid gap-10 grid-cols-2">

        <div id="yumeanime">



        </div>

        <div id="fallon">



        </div>

        <div id="galor">

            

        </div>

    </div> -->

</div>