<div id="main">

    <div class="myCV hidden lg:block lg:p-1 fixed bottom-0 right-0">
        <a href="https://raulfarce01.github.io/portfolio/assets/CV/CV_Raul-Fernandez-Arce_Fullstack_26-10.pdf" download="CV_Raul-Fernandez-Arce_Fullstack_26-10" target="_blank">
            <p class="text-red-700">My CV Here</p>
            <img src="https://raulfarce01.github.io/portfolio/assets/CV/CV.png" alt="CV" class="w-20 m-auto">
        </a>
    </div>

    <div id="title" class="flex flex-col justify-center items-center p-20">
        <h3 class="text-xl mb-6">Portfolio: Created with Angular and Tailwind</h3>
        <h1 class="lg:text-7xl text-6xl font-black mb-8 px-10">Raúl Fernández Arce</h1>
        <h3 class="lg:text-4xl text-2xl pb-20 text-center">PHP, MySQL, HTML, CSS, JS...</h3>
    </div>

    <div id="skills" class="bg-slate-50 text-blue-950 font-bold flex flex-col lg:pb-14 pb-0">

        <h2 class="text-center py-8 lg:text-4xl text-3xl font-bold flex justify-center items-center">My Professional Skills</h2>

        <div id="container" class="flex flex-row lg:gap-x-40 lg:gap-y-14 gap-x-2 gap-y-6 flex-wrap justify-around items-center lg:px-60 px-10 lg:pb-0 pb-20">
            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-code text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">HTML</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-css3-alt text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">CSS</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-square-js text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">JavaScript</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-php text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">PHP</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-database text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">MySQL</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
    </div>

    <div id="projects" class="grid gap-10 lg:grid-cols-2 grid-cols-1 p-6 lg:pb-20">

        <h3 class="text-5xl font-bold text-center lg:col-span-2 col-span-1">My Projects</h3>

        <div id="yumeanime" class="row-span-2 flex items-center border-white lg:border-r flex-col lg:flex-row">

            <div class="fotos lg:w-1/2">
                <div class="img lg:p-2">
                    <img src="https://raulfarce01.github.io/portfolio/assets/projects/yumeanime/yumeanime.png" alt="Yumeanime">
                </div>
                <div class="img p-2">
                    <img src="https://raulfarce01.github.io/portfolio/assets/projects/yumeanime/directory.png" alt="Yumeanime">
                </div>
            </div>

            <div class="text flex flex-col justify-around items-center lg:w-1/2 lg:border-l border-b lg:border-b-0 pb-4 lg:pb-0">
                <p class="font-bold text-2xl">Yumeanime</p>
                <p class="p-4">
                    This project was my <i>End of Grade</i> project done in the <b><i>Superior degree of Web
                        Application
                        Development</i></b>. This page consists in a anime site in which you can read some
                        informations and news about animes you are interested in.

                    It took me 2 months and a half to develop, once I finished it I felt really prideful because it's
                    a big project and it could be bigger
                </p>
                <div class="buttons">
                    <a href="https://github.com/raulfarce01/yumeanime" target="__BLANK" class="hover:text-blue-300">
                        <i class="fa-brands fa-github text-3xl"></i>
                    </a>
                    <a href="https://github.com/raulfarce01/portfolio/tree/main/src/assets/projects/yumeanime" target="__BLANK" class="ml-4 hover:text-blue-300">
                        <i class="fa-solid fa-image text-3xl"></i>
                    </a>
                </div>
            </div>

        </div>

        <div id="fallon" class="flex items-center flex-col lg:flex-row">

            <div class="img lg:w-1/2 p-2">
                <img src="https://raulfarce01.github.io/portfolio/assets/projects/fallon/fallon.png" alt="Fallon">
            </div>

            <div class="text flex flex-col justify-around items-center lg:w-1/2 lg:border-l border-b lg:border-b-0 pb-4 lg:pb-0">
                <p class="font-bold text-xl">Fallon Carrington</p>
                <p class="p-2">
                    One day, I was talking to a friend that was studying in the university and he was looking for a
                        way to develop a website because he was interested in having one for his <b><i>end of
                                career</i></b> project. He was studying the career <i>Business Administration and
                            Management</i> and once he told me, I offered as a developer for his page.
                </p>
                <div class="buttons">
                    <a href="https://github.com/raulfarce01/portfolio/tree/main/src/assets/projects/fallon" target="__BLANK" class="hover:text-blue-300">
                        <i class="fa-solid fa-image text-3xl"></i>
                    </a>
                </div>
            </div>

        </div>

        <div id="galor" class="flex items-center flex-col lg:flex-row">

            <div class="img lg:w-1/2 p-2">
                <img src="https://raulfarce01.github.io/portfolio/assets/projects/galor/portada.png" alt="Galor">
            </div>

            <div class="text flex flex-col justify-around items-center lg:w-1/2 lg:border-l border-b lg:border-b-0 pb-4 lg:pb-0">
                <p class="font-bold text-xl">Galor</p>
                <p class="p-2">
                    At the end of the superior degree, our teacher told us to make a project with some colleagues,
                        and after thinking for a looooooong time, we decided to make an art gallery in which users could
                        comment, like and look for some artistic
                        pictures.
                </p>
                <div class="buttons">
                    <a href="https://github.com/raulfarce01/Galor" target="__BLANK" class="hover:text-blue-300">
                        <i class="fa-brands fa-github text-3xl"></i>
                    </a>
                    <a href="https://github.com/raulfarce01/portfolio/tree/main/src/assets/projects/galor" target="__BLANK" class="ml-4 hover:text-blue-300">
                        <i class="fa-solid fa-image text-3xl"></i>
                    </a>
                </div>
            </div>

        </div>

        <div id="Awazon" class="flex items-center flex-col lg:flex-row lg:col-span-2">

            <div class="img lg:w-1/2 p-2">
                <img src="https://raulfarce01.github.io/portfolio/assets/projects/awazon/index.png" alt="Awazon">
            </div>

            <div class="text flex flex-col justify-around items-center lg:w-1/2 lg:border-l border-b lg:border-b-0 pb-4 lg:pb-0">
                <p class="font-bold text-xl">Awazon</p>
                <p class="p-2">
                   This project was made with <b>Symfony and Bootstrap</b>. I decided to use these technologies because my best CSS framework was Tailwind and i wanted to learn Bootstrap.
                    Also, I used Symfony to learn about this framework and his <b>DQL Database Language and Twig templates</b>. At least, I think this project is close to be the same or better than Yumeanime.
                    I'm really proud with this project
                </p>
                <div class="buttons">
                    <a href="https://github.com/raulfarce01/awazon" target="__BLANK" class="hover:text-blue-300">
                        <i class="fa-brands fa-github text-3xl"></i>
                    </a>
                    <a href="https://github.com/raulfarce01/portfolio/tree/main/src/assets/projects/fallon" target="__BLANK" class="hover:text-blue-300 ml-4">
                        <i class="fa-solid fa-image text-3xl"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div id="additionalSkills" class="bg-slate-50 text-blue-950 font-bold flex flex-col lg:pb-14 pb-0">

        <h2 class="text-center py-8 lg:text-4xl text-3xl font-bold flex justify-center items-center">Additional Skills</h2>

        <div id="container" class="flex flex-row lg:gap-x-40 lg:gap-y-14 gap-x-2 gap-y-6 flex-wrap justify-around items-center lg:px-60 px-10 lg:pb-0 pb-20">
            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-wind text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Tailwind</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-bootstrap text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Bootstrap</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-angular text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Angular</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-linux text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Linux</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-git-alt text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Git</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-github text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">GitHub</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-java text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Java</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-jira text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Jira</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-slack text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Slack</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-shapes text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">OOP</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-server text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">MVC</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-symfony text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Symfony</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-laravel text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Laravel</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <p>SOON</p>
                    <!-- <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i> -->
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-leaf text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">MongoDB</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <p>SOON</p>
                    <!-- <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i> -->
                </div>
            </div>
        </div>
    </div>

    <div id="personalSkills" class="bg-slate-50 text-blue-950 font-bold flex flex-col lg:pb-14 pb-0 border-t border-blue-950">

        <h2 class="text-center py-8 lg:text-4xl text-3xl font-bold flex justify-center items-center">Personal Skills</h2>

        <div id="container" class="flex flex-row lg:gap-x-40 lg:gap-y-14 gap-x-6 gap-y-6 flex-wrap justify-around items-center lg:px-20 px-10 lg:pb-0 pb-20">
            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-hand-fist text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Resilience</div>
                <div class="stars lg:text-xl text-lg lg:pt-2 pt-0">
                    <p></p>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-user-group text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Social Skills</div>
                <div class="stars lg:text-xl text-lg lg:pt-2 pt-0">
                    <p></p>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-crown text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Leading</div>
                <div class="stars lg:text-xl text-lg lg:pt-2 pt-0">
                    <p></p>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-people-group text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Teamwork</div>
                <div class="stars lg:text-xl text-lg lg:pt-2 pt-0">
                    <p></p>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-person-chalkboard text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Comunication</div>
                <div class="stars lg:text-xl text-lg lg:pt-2 pt-0">
                    <p></p>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-brain text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Problem Solving</div>
                <div class="stars lg:text-xl text-lg lg:pt-2 pt-0">
                    <p></p>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-lightbulb text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">Idea Development</div>
                <div class="stars lg:text-xl text-lg lg:pt-2 pt-0">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

</div>