<div id="main">

    <div id="title" class="flex flex-col justify-center items-center p-20">
        <h3 class="text-xl mb-6">Portfolio</h3>
        <h1 class="lg:text-7xl text-6xl font-black mb-8 px-10">Raúl Fernández Arce</h1>
        <h3 class="lg:text-4xl text-2xl pb-20 text-center">PHP, MySQL, HTML, CSS, JS...</h3>
    </div>

    <div id="skills" class="bg-slate-50 text-blue-950 font-bold flex flex-col lg:pb-14 pb-0">

        <h2 class="text-center py-8 lg:text-4xl text-3xl font-bold flex justify-center items-center">My Proffesional Skills</h2>

        <div id="container" class="flex flex-row lg:gap-x-40 lg:gap-y-14 gap-x-2 gap-y-6 flex-wrap justify-around items-center lg:px-60 px-10 lg:pb-0 pb-20">
            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-code lg:text-7xl text-6xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">HTML</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-css3-alt text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">CSS</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-square-js text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">JavaScript</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-brands fa-php text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">PHP</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="skill flex flex-col justify-center items-center flex-wrap w-fit">
                <div class="icon">
                    <i class="fa-solid fa-database text-6xl text-7xl"></i>
                </div>
                <div class="name lg:text-3xl text-lg">MySQL</div>
                <div class="stars lg:text-2xl text-lg lg:pt-2 pt-0">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="projects" class="grid gap-10 grid-cols-2">

        <div id="yumeanime">



        </div>

        <div id="fallon">



        </div>

        <div id="galor">

            

        </div>

    </div> -->

</div>